<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
<meta name="renderer" content="webkit">
<title>官网管理</title>
<link rel="shortcut icon" type="image/x-icon" href="../../src/img/favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="../../src/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="../../src/js/jquery-easyui-1.5.4/themes/gray/easyui.css" id="theme"/>
<link rel="stylesheet" type="text/css" href="../../src/js/jquery-easyui-1.5.4/themes/color.css"/>
<link rel="stylesheet" type="text/css" href="../../src/js/jquery-easyui-1.5.4/themes/icon.css"/>
<link rel="stylesheet" type="text/css" href="../../src/css/common.css"/>
<link rel="stylesheet" type="text/css" href="../../src/css/layer.css"/>
<style>
#window form {
	padding: 10px;
}
</style>
</head>
<body class="easyui-layout">
	
	<div data-options="region:'center'" fit="true" border="false" style="padding:10px">
		<div class="easyui-panel" title="" fit="true">
			<table id="datagrid" fit="true" border="false"></table>
		</div>
	</div>	

	<div id="toolbar" class="toolbar clearfix">
		<input type="text" class="easyui-textbox" prompt="文章标题">
		<label>所属栏目：</label>
		<select class="easyui-combobox" name="state"style="width:150px;">
        	<option value="">全部</option>
            <option value="">企业动态</option>
            <option value="">官方活动</option>
            <option value="">客服学堂</option>
        </select>
        <label>发布日期：</label>
        <input class="easyui-datetimebox" style="width:150px;">
        -
        <input class="easyui-datetimebox" style="width:150px;">
        <label>状态：</label>
		<select class="easyui-combobox" name="state"style="width:150px;">
        	<option value="">全部</option>
            <option value="">启用</option>
            <option value="">禁用</option>
        </select>
        <a id="searchBtn" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
        <a class="easyui-linkbutton fr" iconCls="icon-add" onclick="toAdd()">添加</a>
    </div>
	    
<script src="../../src/js/jquery-1.12.4.js"></script>
<script src="../../src/js/jquery-easyui-1.5.4/jquery.easyui.min.js"></script>
<script src="../../src/js/jquery-easyui-1.5.4/locale/easyui-lang-zh_CN.js"></script>
<script src="../../src/js/doT.js"></script>
<script src="../../src/js/utils.js"></script>
<script>

$(function(){
	
	render();
	
	//搜索
	$("#searchBtn").on("click", function(){
		var data={};
	    var title = $.trim($("#title").val());
	    data["title"] = title;
	    $('#datagrid').datagrid("load", data);
	});
	
})

//获取列表
function render(){
	utils.datagrid({
		url: "test/service/role.json",
		columns: [[
			{field: "isCkecked", checkbox: true},
			{field: "id", title: "操作", width: "10%", align: "center", formatter: function(value,row,index){
				return '<a data-id="' + value + '" onclick="toEdit(this)">编辑</a>'+
						'&emsp;<a data-id="' + value + '" onclick="delRow(this)">删除</a>';
			}},
        	{field: "name", title: "文章标题", width: "10%", align: "center"},
        	{field: "url", title: "所属栏目", width: "10%", align: "center"},
        	{field: "url", title: "创建时间", width: "10%", align: "center"},
        	{field: "url", title: "文章状态", width: "10%", align: "center", formatter: function(value, row, index){
        		var text = "启用"
         		return text;
         	}}
        ]],
        toolbar:"#toolbar",
        buttons: [
        	
        ]
	});
}

//添加弹出框
function toAdd(){
	window.parent.addTab({
		tabid: "iframe_newsAdd",
		title: "添加资讯",
		url: "view/home/newsAdd"
	});
}

//编辑弹出框
function toEdit(self){
	var id = $(self).attr("data-id");
	window.parent.addTab({
		tabid: "iframe_newsEdit",
		title: "编辑资讯",
		url: "view/home/newsAdd?id=" + id
	});
	
}

//删除
function delRow(self){
	$.messager.confirm("警告", "是否确定删除该数据?", function(r){
        var id = $(self).attr("data-id");
        if(r){
            utils.ajax({
                url: "/admin/article/info/del",
                data: {
                    id: id
                },
                type: "get",
                success: function(data){
                    $("#datagrid").datagrid("reload");
                }
            });
        }
    });
}
</script>

</body>
</html>
